<!DOCTYPE html>
<html>
<head>
    <title>Архив статей</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Блог</h1>
    <h2>Архив статей</h2>
    
    {% if user.is_authenticated %}
    <div class="create-button-container">
        <a href="/article/create/" class="btn-create">+ Создать новую статью</a>
    </div>
    {% endif %}
    
    {% for post in posts %}
    <div class="one-post">
        <h2><a href="/article/{{ post.id }}/">{{ post.title }}</a></h2>
        <div class="author">Автор: {{ post.author.username }}</div>
        <div class="date">Дата: {{ post.created_date }}</div>
        <p>{{ post.get_excerpt }}</p>
        <a href="/article/{{ post.id }}/" class="read-more">Читать далее →</a>
    </div>
    {% endfor %}
</body>
</html>
